<!-- Game Information Page Content -->
<div class="container">

  <!-- Game Heading -->
  <h1 class="my-4">The Game.....
  </h1>

  <!-- Game Page Item Row -->
  <div class="row">

    <!-- Load Game Photo-->
    <div class="col-md-8">
      <img class="img-fluid" src="../../../assets/{{game.title}}.jpg" alt="">
    </div>



    <!-- Game Page Column  -->
    <div class="col-md-4">
      <button class="button button1" onclick="location.href='../../login'">Add to Wishlist</button>
      <h3 class="my-3">Description </h3>
      <p class="card-text"> {{ game.description }}</p>
      <h3 class="my-3">Game information</h3>
      <ul>
        <li class="card-genre">Genre: {{ game.genre }}</li>
        <li *ngIf="!game.coop">No Co-op</li>
        <li *ngIf="game.coop">Co-op</li>
        <li class="card-consoleType">Platform Availability: {{ game.consoleType }}</li>
        <li class="card-negRating">Negative Rating: {{ game.negativeRating }} </li>
        <li class="card-posRating">Positive Rating: {{ game.positiveRating }} </li>
      </ul>

      <br>
      <button class="button button2" onclick="location.href='../../login'">Leave a Review</button>

    </div>

  </div>
  <!-- End Game Page Item Row -->

  <!-- Game Recommendations Row -->
  <h3 class="my-4">Game recommendations</h3>
    <div *ngFor="let game of game.recommendations">
      <app-game-card [games]="game"></app-game-card>
    </div>
  <!-- End Game Recommendations Row -->

</div>
<!-- End Container -->
